<h1>Listing submits</h1>




<div style="float:left; width:45%;">
	<h2><%= @submitrand.title %></h2>
	<img src="<%= @submitrand.link %>" style="width:100%" />
	<br />
	<%= link_to 'Show', @submitrand %>
	<%= link_to 'Edit', edit_submit_path(@submitrand) %>
	<%= link_to 'Destroy', @submitrand, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<div style="float:left; width:45%;">
	<h2><%= @submitrand2.title %></h2>
	<img src="<%= @submitrand2.link %>" style="width:100%" />
	<br />
	<%= link_to 'Show', @submitrand2 %>
	<%= link_to 'Edit', edit_submit_path(@submitrand2) %>
	<%= link_to 'Destroy', @submitrand2, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>


<br />


