<p id="notice"><%= notice %></p>

<h1>
  <%= @submit.title %>
</h1>
  
<img src="<%= @submit.link %>" />
<br />


<%= link_to 'Edit', edit_submit_path(@submit) %> |
<%= link_to 'Back', submits_path %>
