<!DOCTYPE html>
<html>
<head>
  <title>ImgDisplay</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-inverse">
	  <div class="navbar-inner">
		<%= link_to 'Image Compare', root_path, :class => "brand" %>
	    <ul class="nav" style="float:right;">
	      <li><%= link_to 'Submit', new_submit_path %></li>
	    </ul>
	  </div>
	</div>
<div id="container">
	<p class="lead">Displays two user submitted images at the same time. Eventually this will have users who own each image and can edit, destroy, and look at statistics. Also will have a counter that counts how many people like this image versus the one it was displayed against</p>
	<%= yield %>
</div>
</body>
</html>
